<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <h1 class="logo"><a href="/members">Ruckus</a></h1>
            <a class="btn btn-light" href="/homepage">Go to Homepage</a>
            <a class="btn btn-light" href="/cms">New Post</a>
            <a class="btn btn-light" href="/blog">Go to Blog</a>
            <a class="btn btn-light" href="/biopage">Update Your Page</a>
            <a class="btn btn-light" href="/logout">
                Logout
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="member-name">Welcome to {{username}}'s RUCKUS Page!</h2>
        </div>
    </div>
</div>
{{!-- <div class="row mt-4">
    <div class="col-md-2">
    <a class="btn btn-light" href="/cms">New Post</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-light" href="/blog">Go to Blog</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-light" href="/biopage">Update Your Page</a>
    </div>
        <div class="col-md-2">
        <a class="btn btn-light" href="/homepage">Go to Homepage</a>
    </div>
</div>
<div class="container"> --}}

    {{#each biopage}}
    <div class = "biopage">
      <h2 class="about-me">About Me:</h2>
      <h3 class="about">{{dataValues.about}} </h3>
      <br>
      <h2 class="interests">Interests</h2>
        <ul class="music-info">
            <li>My Favorite Bands: {{dataValues.favorite}} </li>
            <li>Genres of Music I enjoy: {{dataValues.genres}} </li>
            <li>Bands that I have seen in concert: {{dataValues.concert}} </li>        
        </ul>
    </div>
    {{/each}}
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/members.js"></script>
